@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}


hr{
    width: 70%;
    
    margin-left: auto;
    margin-right: auto;
   
}



h1, h2, h3, h4{
    font-family: "Architects Daughter";
    color: #555555;
}


h3{
    text-align: center;
}

h4 {
    font-size: 100%;
    color: #555555;
}

body{
    font-family: Lato;
    color: #555555;
}

.uppercase {
    text-transform: uppercase;
}

/*----------------------------------------Heading*/


header {
    margin: 0;
}

#nav-menu{
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 3px;
}
   
#nav-menu li { 
    margin-right: 8px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover{
    border-bottom: 1px solid #777777;
}



/*------------------------------------------------------ Navbar */


.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: white;
    border: 0;
    
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand h1{
    font-size: 400%;
    margin-left: 25px;
    margin-bottom: 0px;

}

.navbar-brand h2{
      letter-spacing: 1px;
    font-size: 125%;
    margin-left: 50px;
    margin-top: -22px;
  
}

/*----------------------------------------Home image*/

#image-rossini{
    height:100%;
    width: 100%;
    background: url("../images/rossini rest1.png") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}

#home-image{
    height:800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}
@keyframes hero-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(0.9);
    }
}

/*----------------------------------------Web alert*/

.web-info {
    text-align: center;
    
    background-color: khaki;
    border-color:khaki;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;

}
.web-info span {
    text-align: center;
    font-size: 100%;
    text-transform: uppercase;
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}


/*----------------------------------------about-me*/

#about-me{
   
    margin: 3px 0;
    text-align: center;
    font-size: 100%;
    color: #555555;
    top: -90px;
    position: relative;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
}

#name{
     font-size: 250%;
    color: #555555;
}

#about-me p{
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

/*----------------------------------------menu jpeg / h2 */

#menu {
	
	margin-bottom: 0px;
    background: url("../images/fish.jpg") center center / cover no-repeat fixed;   
    text-align: center;
    background-color:white;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
    margin-right: 0rem;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
}


.menu-style {
    background-color: khaki;
    opacity: 90%; 
    padding-top: 50px; 
    
}




#menu h2{
     text-align: center;    
}

#menu h4{
     text-align: center;    
}

.starter-style {
     text-align: center;   
}


/*---------------menu-------------------------------------*/

ul li{
list-style-type: none;
}



#come-on {
    margin: 20px 0;
    text-align: center;
}


#rossini-menu-details{
text-align: center;
}

#pizza-pasta {

    text-align: center;
}

#mains {

    text-align: center;
}

#desserts-drinks {
      text-align: center;
}

/*---------------gallery-------------------------------------*/
 .carousel-inner img {
    width: 100%;
    height: 100%;
  }


/*---------------reviews-------------------------------------*/

#reviews{
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;
}

#reviews div {
    color: #555555;
    background-color: rgba(250, 248, 248, 0.8);
    width: 33%;
    height: 100%;
    float: left;
    padding-top: 10px;
    text-align: center;
}

#reviews h2 {
     color: #555555;
     text-align: center;
  
}

@media screen and (max-width:800px) {
#reviews div {
    width: 100%;
    margin: 0px;
}
}


/*---------------contact-------------------------------------*/
#rossini-contact {
	
	margin-bottom: 10px;
    background: url("../images/beach2.jpg") center center / cover no-repeat fixed;  
    
    text-align: center;
    margin-bottom: 0rem;
    background-color: rgb(247, 246, 241, 0.6);
    margin-top: 10px;
    margin-left: 0rem;
    margin-bottom: 0.7rem;
    margin-right: 0rem; 
     color: white;
     height: 100%;

}
#rossini-contact h1 {
color: white;
padding-top: 10px;
font-size: 225%;

}

#rossini-contact h3 {
color: white;
}

#rossini-contact h2 {
color: white;
}

#rossini-contact a {
color: white;
}

#rossini-contact hr {
color: white;
}

#contact-style hr {
color: white;
}


ul li{
list-style-type: none;
}

/*---------------map-------------------------------------*/

/* map */
#map-wrap {

    height: 200px;
    margin-bottom: 10px;
    
}

#rossini-map {
    height: 100%;
    width: 100%;
    border: none;
}

/*---------------footer-------------------------------------*/
.center {
margin: auto;
}

#rossini-footer-details{

    background-color: khaki;
    text-align: center;
}

#rossini-footer-details p{

        color: #555555;
        font-family: "Architects Daughter";
}
#rossini-footer-details a i {
   font-size: 150%;
   margin-right: 5px;
   align-items: center;
    color: #555555;
}
#rossini-footer-details a {
   
   margin-right: 5px;
   align-items: center;
    color:blue;
     font-family: "Architects Daughter";
     font-size: 12px;
font-size: 100%;
     
}
#rossini-footer-details a i:hover {
   color: blue;
}